* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #0b0f0e;
    color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 90px;
    border-bottom: 3px solid rgba(0, 255, 156, 0.18);
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 14px;
}
.nav-image img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #00ff9c;
}
.logo {
    font-size: 34px;
    font-weight: normal;
    color: #00ff9c;
    font-family: cursive;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 44px;
}
.nav-links a {
    position: relative;
    text-decoration: none;
    color: #00ff9c;
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 6px;
}
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: #00ff9c;
    box-shadow: 0 0 6px rgba(0, 255, 156, 0.5);
    transition: width 0.3s ease;
}
.nav-links a:hover::after {
    width: 100%;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
}
.hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.4s ease;
}
.hero-image img:hover {
    box-shadow:
        0 0 0 3px #00ff9c,
        0 0 15px rgba(0, 255, 156, 0.7);
    transition: box-shadow 0.5s ease;
}
.hero-box {
    margin-top: 40px;
    max-width: 1000px;
    padding: 30px;
    text-align: center;
    border: 3px solid rgba(0, 255, 156, 0.3);
    border-radius: 12px;
}
.hero-box h2 {
    font-size: 34px;
    color: #00ff9c;
    margin-bottom: 16px;
}
.hero-box p {
    font-size: 21px;
    line-height: 1.6;
    color: #e5e7eb;
}
.skills {
    padding: 100px 60px;
    text-align: center;
}
.section-title {
    font-size: 55px;
    color: #00ff9c;
    margin-bottom: 60px;
    margin-top: -40px;
}
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
}
.skill-card {
    padding: 30px;
    border: 2px solid rgba(0, 255, 156, 0.25);
    border-radius: 14px;
    text-align: center;
    transition: all 0.3s ease;
}
.skill-card:hover{
     box-shadow:
        0 0 0 3px #00ff9c,
        0 0 15px rgba(0, 255, 156, 0.7);
    transition: box-shadow 0.5s ease;
}
.skill-card h3 {
    font-size: 22px;
    color: #00ff9c;
    margin-bottom: 12px;
}
.skill-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #e5e7eb;
}
.skill-card:hover {
    box-shadow:
        0 0 0 3px #00ff9c,
        0 0 15px rgba(0, 255, 156, 0.7);
    transition: box-shadow 0.5s ease;
}
.projects {
    padding: 100px 60px;
    text-align: center;
    margin-top: -20px;
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
}
.project-card {
    min-height: 420px;
    padding: 40px 25px;
    border: 2px solid rgba(0, 255, 156, 0.35);
    border-radius: 18px;
    text-align: center;
    transition: all 0.4s ease;
}
.project-card:hover {
    box-shadow:
        0 0 0 3px #00ff9c,
        0 0 25px rgba(0, 255, 156, 0.7);
    transform: translateY(-8px);
}
.project-image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
}
.project-card h3 {
    margin-top: 20px;
    font-size: 22px;
    color: #00ff9c;
    text-align: center;
}
.project-card p {
    margin: 12px 20px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #e5e7eb;
    text-align: center;
}
.project-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 44px;
    border: 2px solid #00ff9c;
    border-radius: 30px;
    color: #00ff9c;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.project-btn:hover {
    box-shadow:
        0 0 0 2px #00ff9c,
        0 0 14px rgba(0, 255, 156, 0.7);
}
.contact {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}
.contact-box {
    width: 100%;
    max-width: 700px;
    padding: 50px;
    border: 2px solid rgba(0, 255, 156, 0.35);
    border-radius: 18px;
    text-align: center;
    margin-top: -20px;
}
.contact-box h2 {
    font-size: 36px;
    color: #00ff9c;
    margin-bottom: 40px;
}
.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 18px;
    padding: 14px 20px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.04);
    transition: all 0.4s ease;
}
.contact-item img {
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 50%;  
}
.contact-item a {
    font-size: 20px;
    color: #e5e7eb;
    text-decoration: none;
}
.contact-item a:hover {
    color: #00ff9c;
}
.contact-item:hover {
    box-shadow:
        0 0 0 2px #00ff9c,
        0 0 14px rgba(0, 255, 156, 0.6);
}
.footer {
    height: 80px;
    border-top: 2px solid rgba(0, 255, 156, 0.35);
    background-color: #050505;
}






